# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.brf
*.dvi
*.log
*.lof
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.idx
*.ilg
*.ind
*.inx
*.synctex
*.synctex.gz
*.fdb_latexmk
*.fls
*.nav
*.snm
*.vrb
*.bcf
*.run.xml
*.pdfsync
*.thm
*.tex
*.txss2

# LaTeX temporary files
*~
*.backup
*.bak
*.tmp

# Directories created by certain LaTeX editors
auto/
_build/
latex.out/

# Output files
*.ps
*.dvi

# Style Files
*.sty

# Bibliography auxiliary files
*.bbl
*.blg
*.bib
*.bst

# Auxiliary files for specific LaTeX packages
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.glsdefs
